---
// Fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Components
import Ticker from "@/components/assets/Ticker.astro";
---

<section class="overflow-hidden">
  <Wrapper variant="wide" class="py-4">
    <div
      class="relative overflow-hidden rounded-3xl h-[calc(100vh-2rem)] items-end justify-end flex lg:items-start lg:justify-start"
    >
      <h1 class="absolute bottom-20 left-8 z-10 text-black text-xs font-normal">
        Local Experiences in Gdańsk, Sopot & Gdynia
      </h1>
      <Ticker />
      <video
        autoplay
        muted
        loop
        playsinline
        class="object-cover size-full absolute inset-0 object-center"
      >
        <source src="/hero.mp4" type="video/mp4" />
        <source src="/hero.webm" type="video/webm" />
        Your browser does not support the video tag.
      </video>
    </div>
  </Wrapper>
</section>
