---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<section>
  <Wrapper variant="standard" class="py-12 lg:py-24">
   <div>
      <Text
        tag="p"
        variant="display2XL"
        class="text-base-900 font-medium tracking-tight"
      >
        Gdansk. Sopot. Gdynia. I know them <span class="text-base-500 font-light italic"
          >like a local</span
        > because I am one. I'll take you to the places I'd take a <span
          class="text-base-500 font-light italic">friend visiting</span
        > for the first time.
      </Text>
   </div>
  </Wrapper>
</section>
