---
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
---
<section>
  <Wrapper variant="standard" class="py-12 lg:py-24">
   <div>
      <Text
        tag="p"
        variant="display2XL"
        class="text-base-900 font-medium tracking-tight"
      >
        We are a <span class="text-base-500 font-light italic"
          >multidisciplinary interior design</span
        > studio dedicated to creating
        <span class="text-base-500 font-light italic">timeless interiors</span
        > that enhance living spaces and inspire everyday experiences.
      </Text>
   </div>
  </Wrapper>
</section>
