---
// Fundations
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
import Text from "@/components/fundations/elements/Text.astro";
---

<section class="py-12 lg:py-24">
  <Wrapper variant="standard">
    <Text
      tag="p"
      variant="displayXL"
      class="text-base-900 font-medium tracking-tight lg:indent-42 text-pretty"
    >
      I've traveled enough to know that the best moments happen when a
      <span class="text-base-500 font-light italic">local</span> takes you
      somewhere you'd never find on your own. That one conversation, that
      <span class="text-base-500 font-light italic">hidden street</span>, that
      place where everything just
      <span class="text-base-500 font-light italic">clicks</span>.
    </Text>
  </Wrapper>
</section>
