---
// Assets
import Logo from "@/components/assets/Logo.astro";
// Fundations
import Text from "@/components/fundations/elements/Text.astro";
import Wrapper from "@/components/fundations/containers/Wrapper.astro";
// Content
import { getCollection } from "astro:content";
const team = await getCollection("team");
---

<footer class="overflow-hidden">
  <Wrapper variant="wide" class="py-4">
    <div class="relative rounded-3xl h-[calc(100vh-2rem)] overflow-hidden">
      <video
        autoplay
        muted
        loop
        playsinline
        class="object-cover size-full absolute inset-0 object-center"
      >
        <source src="/footer.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>

      <div class="relative lg:max-w-xl lg:ml-auto flex flex-col h-full">
        <div
          class="p-8 bg-base-100 m-4 rounded-2xl h-full justify-between flex flex-col"
        >
          <div>
            <Logo
              class="text-base tracking-tighter uppercase focus:outline-none transition-colors text-base-900 font-semibold"
            />
            <div class="mt-12">
              {
                team.map((member, index) => (
                  <>
                    <Text
                      tag="h3"
                      variant="textBase"
                      class="text-black font-medium leading-relaxed 2xl:text-2xl"
                      class:list={index > 0 ? "mt-4" : ""}
                    >
                      {member.data.role}
                    </Text>
                    <Text
                      tag="p"
                      variant="textXS"
                      class="text-base-500 font-medium tracking-tight 2xl:text-lg"
                    >
                      {member.data.name}
                    </Text>
                  </>
                ))
              }
            </div>
            <div class="mt-8 lg:mt-12">
              <Text
                tag="p"
                variant="textLG"
                class="text-base-600 tracking-tight text-pretty 2xl:text-2xl"
              >
                Pioneering sustainable architecture that harmonizes with nature
                and creates spaces of enduring beauty. Building the future, one
                innovative design at a time.
                <br />
                <br />
                We believe in creating environments that inspire and endure, blending
                innovation with tradition to shape the world around us for generations
                to come.
              </Text>
            </div>
            <Text
              tag="p"
              variant="textSM"
              class="text-base-600 tracking-tight text-pretty 2xl:text-xl mt-4"
            >
              Our commitment to excellence drives every project, ensuring that
              each space we create not only meets the highest standards of
              sustainability but also fosters a deeper connection between people
              and their surroundings.
            </Text>
          </div>

          <Text tag="p" variant="textXS" class="text-base-500">
            © {new Date().getFullYear()} Ashbury Architecture. All rights reserved.
          </Text>
        </div>
      </div>
    </div>
  </Wrapper>
</footer>
